.wrapper {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  background-color: black;
}

.wrapper a {
  font-size: 2em;
  margin-top: 25%;
  text-decoration: none;
  color: rgb(51, 210, 238);
}
